---
import DefaultLayout from '../layouts/DefaultLayout.astro'

const response = await fetch('https://graphql.datocms.com/', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
    Accept: 'application/json',
    Authorization: `Bearer ${import.meta.env.DATOCMS_API_KEY}`,
  },
  body: JSON.stringify({
    query: `query OmVastljusPage {
          vastljusAbout {
            title
            body(markdown: true)
          }
        }
      `,
  }),
})

const json = await response.json()
const data = json.data.vastljusAbout
const title = data.title
const body = data.body
---

<DefaultLayout title="Accessible Components">
  <section class="my-12">
    <div class="space-content container"></div>
  </section>
  <section class="mt-2">
    <div class="container-bg px-16 py-12">
      <div class="container-content border bg-gray-100 bg-white bg-opacity-90 px-16 py-8">
        <h2 class="text-center">{title}</h2>
        <div set:html={body} />
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  .container-bg {
    margin-top: 4rem;
  }

  @media screen and (max-width: 768px) {
    /* Dina mobilspecifika CSS-regler här */
    .container-bg {
      margin-top: 0;
      padding: 1rem;
    }
  }
</style>
