---
const { text  = false } = Astro.props
---

<div class="flex justify-center btn">
    <a 
        class="button text-center" 
        href="/event/"
        >
      {text}
    </a>                
</div>


<style lang="scss">
    .btn {
      .button {
          width: 295px; 
          color: #333;
          border-radius: 13px; 
          border-color: #fff;
          background-color: #fff;
          box-shadow: 0px 3px 6px #00000029;    
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
          box-shadow: 0px 3px 6px #00000029;   
          box-shadow: 1px 8px 24px 0px rgba(0,0,0,0.75);
          -webkit-box-shadow: 1px 8px 24px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 1px 8px 24px 0px rgba(0,0,0,0.75);
        }
  
      .button:hover {
        color: #fff;
        border-radius: 13px; 
        border-color: #7F7F7F;
        background-color: #7F7F7F;
      }
    }
</style>