---
import { Media } from 'accessible-astro-components'

const { imgSrc, reverseImg = false } = Astro.props
---

<section class="my-6 py-4 px-12  content-media">
  <div class="container">
    <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
      {!reverseImg ? <Media class="" src={imgSrc} /> : ''}
      <div class="space-content flex flex-col justify-center">
        <slot />
      </div>
      {reverseImg ? <Media class="rounded-lg" src={imgSrc} /> : ''}
    </div>
  </div>
</section>


<style lang="scss">
  .content-media {
    background-color: #FFEEE3;
  }
</style>