---
import CallToAction from './CallToAction.astro'
import { Icon } from 'astro-icon/components'
import Navigation from '../components/Navigation.astro'
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <div class="bg-gray-100 p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold mb-4">Follow Us</h2>
        <div class="flex gap-4">
          <a href="#" class="text-blue-500 hover:text-blue-700"><i class="fab fa-facebook"></i> Facebook</a>
          <a href="#" class="text-red-500 hover:text-red-700"><i class="fab fa-instagram"></i> Instagram</a>
          <a href="#" class="text-blue-500 hover:text-blue-700"><i class="fab fa-linkedin"></i> LinkedIn</a>
        </div>
      </div>
      <li class="menu-item type-icon">
        <a href="https://github.com/markteekman/accessible-astro-starter" title="Go to the Instagram page">
        
        </a>
      </li>
      <p>
        &copy; {currentYear} - <a href="https://astro.build/"></a>. Made with ❤️ by <a
          href="https://github.com/markteekman">Christoffer Rydeståhl</a
        >.
      </p>
    </div>
  </section>
</footer>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  footer {
    background-color: #414141;
  }

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>


